colorama==0.3.9
decorator==4.0.11
ezhil==0.90.1
gunicorn==19.7.1
inflect==0.2.5
ipython==6.1.0
ipython-genutils==0.2.0
jaraco.itertools==2.1
jedi==0.10.2
more-itertools==4.1.0
Open-Tamil==0.65
pickleshare==0.7.4
prompt-toolkit==1.0.14
Pygments==2.2.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
wcwidth==0.1.7
win-unicode-console==0.5
wolframalpha==3.0
xmltodict==0.11.0
